*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.181);
}
.navbar{
    display: flex;
    gap: 1.25rem;
    padding-right: 20px;
}
.container-card{
    width: 15.625rem;
    height: 21.875rem;
    border-radius: .3125rem;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.436);
    position: relative;
}
.container-card .producto-img{
    width: 100%;
    height: 70%;
}
.container-card .producto-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 .parrafo p{
    overflow: hidden;
}

.section-principal{
    width: 100%;
    height: 31.25rem;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-productos{
    /* position: relative; */
    display: flex;
    background-color: rgba(211, 211, 211, 0.425);
    width: 100%;
    height: 500px;
    /**
    flex => por defecto pone todos los elementos hijos en una sola linea, o en inline. 
    flexbox esta compuesto por 2 propiedades importantes.
    direction => la cual le va a dar sentido al eje principal, row o column
    flexibilidad => 
    */
    flex-direction:row;
    flex-wrap: nowrap;
    /*
    movimientos
    */
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.card1 {
    background-color: lightblue;
    align-self: flex-start;
    order: 4;
}
.card2 {
    background-color: rgb(230, 193, 173);
    align-self: flex-end;
    order: 5;
    
}
.card3 {
    background-color: rgb(213, 230, 173);
    order: 3;
    /* position: absolute;
    top: 0;
    right: ;
    bottom: ;
    left: 40px; */
}
.card4 {
    background-color: rgb(175, 173, 230);
    order: 1;
}
.card5 {
    background-color: rgb(221, 173, 230);
    order: 2;
}

.position-corazon{
    position: absolute;
    top: 20px;
    right: 20px;
}

/*
    position => maquetacion clasica.
    5 estados => estatic. 
                relative
                absolute
                fixed
                sticky


**/

.whats{
    position: fixed ;
    bottom: 20px ;
    right: 20px;
}

#informacion{
    color: red;
}